<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Meine Hobbies</title>
    <style>
        h1 {
            color: darkblue;
        }
        h2 {
            color: darkblue;
        }
    </style>
</head>
<body>
    <h1>Meine Hobbies</h1>

    <h2>Fahrrad & Kraftsport🏋️🚴‍♀️</h2>

    <b>Ich fahre gerne mit meinem Fahrrad und bei gutem Wetter auch längere Strecken, zum Beispiel nach Köln und wieder zurück.</b>
    <p></p>
    <b>Neben den vielen Fahrten mit dem Fahrrad gehe ich auch ins Fitnessstudio, wo ich sowohl mit Gewichten als</b>
    <p></p>
    <b>auch mit meinen eigenen Körpergewicht trainiere.</b>

    <h2>Spazieren🚶‍♂️</h2>
    <b>Wenn ich etwas in der Innenstadt benötige, gehe ich auch gerne zu Fuß dorthin und wieder zurück.</b>

    <h2>Python🐍</h2>
    <b>Meine Leidenschaft neben dem Sport ist das Programmieren.</b>
    <p></p>
    <b>Besonders gerne schreibe ich Python-Programme, und deshalb</b>
    <p></p>
    <b>möchte ich das auch zu meinem Beruf machen.</b>

    <h2>Fußball⚽</h2>
    <b>Ein weiteres großes Interesse von mir ist Fußball.</b>
    <p></p>
    <b>Mein Lieblingsverein ist der FC Barcelona, und ich war sogar schon im Stadion.</b>


    <a href="{{ url_for('index') }}">⬅ Zurück zur Startseite</a>

</body>
</html>