<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Über mich</title>
  <style>
      h1 {
          color: darkblue;
      }
      h2 {
          color: darkblue;
      }
  </style>

</head>
<body>
  <h1>Über mich</h1>

  <h2>Mein beruflicher Werdegang</h2>

  <b>Hallo, mein Name ist Joshua Pick, ich bin 26 Jahre alt und wohne in Bonn.</b>
  <p></p>
  <b>Am 1. August 2018 habe ich bei der Rauschert GmbH eine Ausbildung als Verfahrensmechaniker für Kunststoff- und Kautschuktechnik begonnen und im Juli 2021 erfolgreich abgeschlossen.</b>
  <p></p>
  <b>Im Anschluss arbeitete ich zunächst als Rüster, um nach meiner Ausbildung weitere Praxiserfahrung zu sammeln.</b>
  <p></p>
  <b>Nachdem ich einen unbefristeten Vertrag erhielt, wurde ich als Einrichter eingestuft und durfte die Maschinen nicht nur einrichten, sondern auch anfahren.</b>
  <p></p>
  <b>Im Juli 2022 habe ich mich entschieden, mein damaliges Arbeitsverhältnis zu kündigen.</b>
  <p></p>
  <b>Schon als Kind war es mein Traum, eines Tages in Bonn zu leben. Am 1. September 2022 konnte ich mir diesen Traum erfüllen.</b>
  <p></p>
  <b>Mein neuer Arbeitgeber befand sich jedoch nicht direkt in Bonn, sondern in Rösrath.</b>
  <p></p>
  <b>Dort lernte ich einen Kunststoff kennen, der überwiegend in der Automobilbranche eingesetzt wird. Dieser Kunststoff zeichnet sich durch eine besonders hohe Hitze- und Kältebeständigkeit aus.</b>

  <h2>Interessen & Weiterbildung</h2>

  <b>Außerhalb meiner Arbeit interessiere ich mich intensiv für Künstliche Intelligenz (KI).</b>
  <p></p>
  <b>Mein Ziel ist es, im Bereich Data Science zu arbeiten, deshalb beschäftige ich mich mit der Programmiersprache Python und setze eigene Projekte um.</b>
  <p></p>
  <b>Am 18. Juni 2025 habe ich einen Kurs bei WBS Training in Bonn begonnen und am 14. August 2025 erfolgreich abgeschlossen. Damit habe ich mich als</b>
  <p></p>
  <b>Python Certified Associate Programmer qualifiziert.</b>
  <p></p>
  <b>Der Kurs vermittelte mir Grundlagen in Python (Funktionen und Module), MySQL und NoSQL sowie die Entwicklung grafischer Benutzeroberflächen mit Tkinter und PyQt5.</b>

  <h2>Ziel</h2>

  <b>Ich möchte als Python-Entwickler arbeiten und später mit meinem beruflichen Wissen in den Bereich Data Science wechseln.</b>

  <a href="{{ url_for('index') }}">⬅ Zurück zur Startseite</a>
</body>
</html>


