<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Kontakte</title>
    <style>
        h1 {
            color: darkblue;
        }
        b {
            color: darkblue;
        }
    </style>
</head>
<body>
    <h1>Kontakt</h1>
    <b>Sie können mich über LinkedIn oder per E-Mail erreichen.</b>
    <p></p>
    <b>Hier sind meine Kontaktdaten:</b>
    <ul>
        <li><a href="https://www.linkedin.com/in/joshuapick/">LinkedIn</a></li>
        <li><a href="">E-Mail: pickjoshua189@gmail.com</a></li>
    </ul>
        <a href="{{ url_for('index') }}">⬅ Zurück zur Startseite</a>
</body>
</html>