<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Projekt</title>
    <style>
        h1 {
            color: darkblue;

        }
        li {
            color: black;
        }
    </style>
</head>
<body>
    <h1>Meine Projekte in Python 🐍</h1>

    <ul>
        <li>Bausteinprüfung</li>
        <li>Bausteinprüfung mit PyQt5</li>
        <li>BMI_Rechner mit PyQt5</li>
        <li>Mini Projekt Miro-Restaurant-</li>
        <li>Meine Seite mit Flask</li>
        <li><a href="https://github.com/Joshi-Python">GitHub</a></li>
    </ul>
    <a href="{{ url_for('index') }}">⬅ Zurück zur Startseite</a>


</body>
</html>